# Node.js dependencies
telegram-backend/node_modules/
telegram-frontend/node_modules/
telegram-backend/uploads/
# Build output
dist/

# Environment variables
telegram-backend/.env
telegram-frontend/.env

# Logs
logs/
*.log

# OS/system files
.DS_Store
Thumbs.db
